@using WebInvoice.Dto.Partner
@model IEnumerable<PartnerShortViewDto>
@inject WebInvoice.Services.IUserCompanyTemp userCompanyData
<div class="justify-content-center">
    <h3 class="text-center">@userCompanyData.CompanyName</h3>
    <h3 class="text-center">Партньори</h3>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Име</th>
            <th scope="col">Адрес</th>
            <th scope="col">ЕИК</th>
            <th scope="col">Брой документи</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partner in Model)
        {
            <tr>
                <td>@partner.Name</td>
                <td>@partner.Address</td>
                <td>@partner.EIK</td>
                <td>@partner.CountOfDocuments</td>
                <td><a asp-area="" asp-controller="PartnerSettings" asp-action="Index" asp-route-companyId="@partner.Id" class="btn btn-dark">Настройки</a>
                    <a asp-area="" asp-controller="Partner" asp-action="Edit" asp-route-id="@partner.Id" class="btn btn-info">Документи</a></td>
            </tr>
        }
    </tbody>
</table>
