@using Microsoft.AspNetCore.Identity
@using WebInvoice.Data.AppData.Models
@using WebInvoice.Models.NavBar
@inject WebInvoice.Services.IUserCompanyTemp userCompanyData
@{
    var companies = userCompanyData.CompanyApps;
    string resultActiveCompany = "Избери фирма";
    bool isActive = false;
    if (userCompanyData.IsSetCompany)
    {
        var activeCompany = userCompanyData.CompanyName;


        resultActiveCompany = activeCompany;
        isActive = true;
    }
}


@if (companies != null)
{
    if (isActive)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Нов документ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-controller="Document" asp-action="index">Фактура</a>
                <a class="dropdown-item" href="#">Кредитно Известие</a>
                <a class="dropdown-item" href="#">Дебитно известие</a>
                <a class="dropdown-item" href="#">Проформа фактура</a>
                <a class="dropdown-item" href="#">Протокол</a>
                <a class="dropdown-item" href="#">Стокова разписка</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Преглед
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">По номер документ</a>
                <a class="dropdown-item" href="#">По партньор</a>
                <a class="dropdown-item" href="#">По дата</a>
                <a class="dropdown-item" href="#">Фактура</a>
                <a class="dropdown-item" href="#">Кредитно Известие</a>
                <a class="dropdown-item" href="#">Дебитно известие</a>
                <a class="dropdown-item" href="#">Проформа фактура</a>
                <a class="dropdown-item" href="#">Протокол</a>
                <a class="dropdown-item" href="#">Стокова разписка</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Продукти
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Преглед</a>
                <a class="dropdown-item" href="#">Нов продукт</a>
                <a class="dropdown-item" href="#">Настройки на продукти</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Партньори
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Преглед</a>
                <a class="dropdown-item" href="#">Нов партньор</a>
                <a class="dropdown-item" href="#">Настройки на партньор</a>
            </div>
        </li>
    }
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @resultActiveCompany
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            @foreach (var company in companies)
            {
                var routeData = new Dictionary<string, string>();
                routeData.Add("company", company.CompanySlug);
                routeData.Add("object", company.CompanyAppObjects.Where(o => o.IsActive == true).FirstOrDefault().ObjectSlug);
                <a class="dropdown-item" asp-controller="Company" asp-action="index" asp-all-route-data="@routeData">@company.CompanyName</a>
            }

            <a asp-area="" asp-controller="Company" asp-action="Create" class="dropdown-item">Нова фирма</a>
        </div>
    </li>
    @if (userCompanyData.IsSetObject)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @userCompanyData.CompanyObjectName
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                @foreach (var obj in userCompanyData.CurrentCompanyAppObjects)
                {
                    var routeData = new Dictionary<string, string>();
                    routeData.Add("company", userCompanyData.CompanySlug);
                    routeData.Add("object", obj.ObjectSlug);

                    <a class="dropdown-item" asp-controller="Company" asp-action="index" asp-all-route-data="@routeData">@obj.ObjectName</a>
                }

                <a class="dropdown-item" href="#">Нов обект</a>
                <a class="dropdown-item" href="#">Настройки на обект</a>
            </div>
        </li>
    }
}
else
{
    <li class="nav-item active">
        <a class="nav-link" asp-area="" asp-controller="Company" asp-action="Create" id="navbarDropdownMenuLinkCreate">
            Създаване на нова фирма
        </a>
    </li>
}




