@using WebInvoice.Dto.Document
@model NonVatDocumentDto
@inject WebInvoice.Services.IUserCompanyTemp userCompanyData

<form asp-controller="NonVatDocument" asp-action="Edit" id="form1" autocomplete="off" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="Type" />
    <h1 class="text-center">@userCompanyData.CompanyName - @userCompanyData.CompanyObjectName </h1>
    <h2 class="text-center">
        @if (Model.Type == WebInvoice.dto.NonVatDocumentTypes.ProformaInvoice)
        {
            <text>Редактиране на Проформа Фактура</text>
        }
        else if (Model.Type == WebInvoice.dto.NonVatDocumentTypes.Protocol)
        {
            <text>Редактиране на Протокол</text>
        }
        else if (Model.Type == WebInvoice.dto.NonVatDocumentTypes.Stock)
        {
            <text>Редактиране на Стокова разписка</text>
        }: @(Model.Id)
    </h2>
    @if (Model != null)
    {
        @if (Model.HasErrors)
        {
            @foreach (var error in Model.ErrorMassages)
            {
                <div class="alert alert-danger" role="alert">
                    @error
                </div>
            }
        }
    }
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-between p-1">
            <div class="col-3 d-flex flex-column justify-content-center align-items-center ">
                <label for="findPartner" class="m-0 p-0">Получател: </label>
                <input type="text" id="findPartner" class="form-control" list="partnersDataList" oninput="findPartnerAjax()" onkeydown="loadPartner(event)" placeholder="Търси..." />
                <datalist id="partnersDataList"></datalist>
            </div>
            <h3 class="d-flex justify-content-center align-items-center col" id="partnerHead"></h3>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <button id="partnerDescription" class="btn btn-outline-primary " type="button" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">
                    Подробности
                </button>
            </div>
        </div>

        <div class="collapse" id="description">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Получател</th>
                            <td id="partner"></td>
                        </tr>
                        <tr>
                            <th>ЕИК</th>
                            <td id="eik"></td>
                        </tr>
                        <tr>
                            <th>Регистрация по ДДС</th>
                            <td id="isVatRegister"> </td>
                        </tr>
                        <tr>
                            <th>ДДС</th>
                            <td id="vat"></td>
                        </tr>
                        <tr>
                            <th>Адрес</th>
                            <td id="address"></td>
                        </tr>
                        <tr>
                            <th>МОЛ</th>
                            <td id="mol"></td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td id="email"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card text-center">

        <div class="card-body p-1">
            <div class="d-flex justify-content-center invisible" id="loading">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col-12 m-0 d-flex flex-row">
                <div class="m-0 px-1 text-center" style="width:25px">№</div><div class="m-0 px-1 text-center" style="width:25px">П</div><div class="col-5 m-0 p-0">Наимование на стоката</div><div class="col m-0 p-0">Мярка</div><div class="col m-0 p-0">Количество</div><div class="col m-0 p-0">Цена</div><div class="col m-0 p-0">Сума</div><div class="col m-0 p-0">ДДС</div><div class="m-0 px-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </div>
            </div>
            <div id="productContainer">
                @if (Model.Sales != null)
                {
                    @*for (int i = 0; i < Model.Sales.Count; i++)
                        {
                            var readOnly = false;
                            if (Model.Sales[i].ProductId != 0)
                            {
                                readOnly = true;
                            }
                            <div class="col-12 m-0 d-flex flex-row productRow" id="row@(i)"><input type="hidden" asp-for="@Model.Sales[i].ProductId" class="productId"><input type="hidden" asp-for="@Model.Sales[i].FreeProductID" class="freeProductId"><span class="m-0 px-1 text-right productCount" style="width: 25px;">@(i+1)</span><input asp-for="@Model.Sales[i].IsProduct" onchange="changeIsProduct(this)" type="checkbox" class="m-auto px-1 text-right isProduct" style="width: 25px;"><input asp-for="@Model.Sales[i].Name" oninput="findProductAjax(this)" onkeydown="loadProduct(event, this)" list="productDataList" class="col-6 m-0 p-0 productName" type="text"><input asp-for="@Model.Sales[i].ProductType" readonly="@readOnly" class="col m-0 p-0 productType" type="text"><input asp-for="@Model.Sales[i].Quantity" onkeydown="calculatePrice(event, this)" placeholder="@Model.Sales[i].AvailableQuantity" class="col m-0 p-0 productQuantity" type="text"><input asp-for="@Model.Sales[i].Price" readonly="@readOnly" class="col m-0 p-0 productPrice" onkeydown="calculatePrice(event, this)" type="text"><input asp-for="@Model.Sales[i].TottalPrice" onkeydown="newLine(event, this)" class="col m-0 p-0 productTottalPrice" type="text"><span class="m-0 px-1 close productDelete" onclick="delete_row(this)">X</span></div>
                        }*@
                }
            </div>
            <datalist id="productDataList"></datalist>
            <div class="d-flex flex-row justify-content-end">
                <div class="btn btn-light btn-sm" onclick="addProductElement()">Нов ред</div>
            </div>
            <input asp-for="PartnerId" type="hidden" id="partnerId" />
            <div class="d-flex flex-row justify-content-end px-5" id="documentTottalByVatType">

                <div class="p-2" id="firstColumn">
                    <div class="p-0 m-0 font-weight-bold text-right">&nbsp </div>
                    <p class="p-0 m-0 font-weight-bold text-right">Основа:</p>
                    <p class="p-0 m-0 font-weight-bold text-right">ДДС:</p>
                    <p class="p-0 m-0 font-weight-bold text-right">Общо:</p>

                </div>

                <div id="tottalByVatType" class="d-flex flex-row">
                </div>
                <div class="p-2" id="tottalCulumn">
                    <p class="p-0 m-0 font-weight-bold text-right" id="tottalCulumnTittle">ОБЩО</p>
                    <p class="p-0 m-0 font-weight-bold text-right" id="tottalCulumnBasis">0.00</p>
                    <p class="p-0 m-0 font-weight-bold text-right" id="tottalCulumnVat">0.00</p>
                    <p class="p-0 m-0 font-weight-bold text-right" id="tottalCulumnTottal">0.00</p>

                </div>
            </div>

            @*<div  class="" data-toggle="tooltip" data-placement="top" title="Tooltip on topasaaaaasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss">
                    Tooltip on top
                    asas
                </div>*@
        </div>
        <div class="card-footer text-muted">
            <div class="d-flex flex-row">
                <div class="col-4 text-nowrap">
                    <label for="createdDate">Дата на документа</label>
                    <input class="form-control" asp-for="CreatedDate" type="text" id="createdDate" data-val="true" data-val-custom="Невалидна дата!" />
                    <label for="vatReasonDate">Дата на дан. събитите</label>
                    <input class="form-control" asp-for="VatReasonDate" type="text" id="vatReasonDate" data-val="true" data-val-custom="Невалидна дата!" />
                </div>
                <div class="col-4 text-nowrap">
                    <label for="writerEmployee">Съставил</label>
                    <input class="form-control" asp-for="WriterEmployee" list="writerEmployeeList" type="text" />
                    <datalist id="writerEmployeeList">
                        @foreach (var emploee in this.ViewBag.Employees)
                        {
                            <option>@emploee.FullName</option>
                        }
                    </datalist>
                    <label for="recipientEmployee">Получил</label>
                    <input class="form-control" asp-for="RecipientEmployee" type="text" list="recipientEmployeeList" />
                    <datalist id="recipientEmployeeList">
                    </datalist>
                </div>
                <div class="col-4 text-nowrap">
                    <label for="paymentType">Начин на плащане</label>
                    <select class="form-control" asp-for="PaymentTypeId" type="text" id="paymentType" onchange="disableBankAccount()">
                        @foreach (var paymentType in this.ViewBag.PaymentTypes)
                        {
                            if (paymentType.IsActiv == true)
                            {
                                <option value="@paymentType.Id" data-requareBankAccount="@paymentType.RequiredBankAccount" selected>@paymentType.Name</option>
                            }
                            else
                            {
                                <option value="@paymentType.Id" data-requareBankAccount="@paymentType.RequiredBankAccount">@paymentType.Name</option>
                            }

                        }
                    </select>
                    <label for="bankAccount">Бакова сметка</label>
                    <select class="form-control" asp-for="BankAccountId" type="text" id="bankAccount">
                        @foreach (var bankAccount in this.ViewBag.BankAccounts)
                        {
                            if (bankAccount.IsActive == true)
                            {
                                <option value="@bankAccount.Id" selected>@bankAccount.Name</option>
                            }
                            else
                            {
                                <option value="@bankAccount.Id">@bankAccount.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="col">
                    <label for="Description"> Описание</label>
                    <textarea asp-for="Description" class="form-control" rows="2" id="Description"></textarea>
                </div>
                <div class="col-2">
                    <div>&nbsp;</div>
                    <button type="submit" class="btn btn-info">Потвърди</button>
                </div>
                <div class="col">
                    <label for="FreeText" id="freeText"> Основание за неначисляване на ДДС</label>
                    <textarea asp-for="FreeText" rows="2" class="form-control" id="FreeText" disabled></textarea>
                </div>
            </div>
        </div>
    </div>

</form>
@section Styles {
    <link rel="stylesheet" href="~/css/document.css" />
}
@section Scripts{
    <script src="~/js/documentWithVat.js" asp-append-version="true"></script>
    <script src="~/js/document.js" asp-append-version="true"></script>
    <script type="text/javascript">

        var currentRoute = "@userCompanyData.CompanySlug/@userCompanyData.CompanyObjectSlug";

        $(function () {
            $("#createdDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy",
                showAnim: "clip",
            });

            $("#vatReasonDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy",
                showAnim: "clip",
            });
        });

        $.validator.addMethod('custom', function (value, element, params) {
                return validatedate(value);
        }, "Невалидна дата!");

        jQuery.validator.unobtrusive.adapters.add("custom", {}, function (options) {
            options.rules["custom"] = true;
            options.messages["custom"] = function () { return $(options.element).attr('data-val-custom'); };
        });

        //function submit() {
        //    $("#form1").validate();
        //    if ($('#form1').valid())
        //        $('#form1').submit();
        //}

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        document.getElementById('findPartner').focus();
        var partnerDataListValues = [];
        var loadedPartner = document.getElementById('partnerId').value;

        preventEnter();

        var productContainer = document.getElementById('productContainer');

        if (loadedPartner != "") {
            loadPartnerById(loadedPartner);
        }

        var vatTypesStr = JSON.stringify(@Html.Raw(ViewBag.VatTypes));
        var vatTypes = tryParseJSON(vatTypesStr);

        var salesStr = JSON.stringify(@Html.Raw(Model.SalesJson));
        var salesJson = tryParseJSON(salesStr);

            //console.log(salesJson);

        if (salesJson.length > 0) {
            for (var i = 0; i < salesJson.length; i++) {
                addProductElementWithValues(salesJson[i]);
            }
            calculateDocumentTottal();
        }
        else {
            addProductElement();
        }
        disableBankAccount();

    </script>
}
