@using WebInvoice.Dto.Reason
@model ICollection<ReasonDto>
@inject WebInvoice.Services.IUserCompanyTemp userCompanyData

<div class="row">
    <partial name="~/Views/CompanySettings/_NavBarSettingsPartial.cshtml" />
    <div class="container col-md-9">
        <h3 class="text-center">@userCompanyData.CompanyName</h3>
        <h3 class="text-center">Основания</h3>
        <div class="row justify-content-center">
            <table class="table table-hover col-10">
                <thead>
                    <tr>
                        <th scope="col">Име</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Група ДДС</th>
                        <th scope="col">По подразбиране</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reason in Model)
                    {
                    <tr>
                        <td>@reason.Name</td>
                        <td>@reason.Description</td>
                        <td>@reason.VatType.Name</td>
                        <td>
                            @if (reason.IsActive)
                            {
                                @:ДА
                            }
                            else
                            {
                                @:НЕ
                            }
                        </td>
                        <td><a asp-area="" asp-controller="Reason" asp-action="Edit" asp-route-id="@reason.Id" class="btn btn-dark">Редактирай</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <a asp-area="" asp-controller="Reason" asp-action="Create" class="btn btn-light">Ново основание</a>
        </div>
    </div>
</div>